:root {
	--color-primary: #08a6e4;
	--color-primary-shadow: #08a8e329;
	--color-redish: #fb3b64;
	--color-redish-shadow: #fb3d6329;
	--color-greenish: #55dfb4;
	--color-greenish-shadow: #55e1b329;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-light-grey: #f7f7f7;
	--font-primary: 'Raleway', sans-serif;
	--font-secondary: 'Open Sans', sans-serif;
}

.container {
	max-width: 1352px;
	margin: 0 auto;
	padding: 15px;
}

body {
	font-family: var(--font-primary);
}

/* header */

.header {
	height: 70px;
	box-shadow: 0px 3px 6px #00000029;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header__logo {
	font-size: 32px;
	font-weight: 300;
	color: var(--color-primary);
	text-decoration: none;
}

.nav__list {
	display: flex;
}

.list__element {
	padding: 0 26px;
}

.list__element:last-child {
	padding-right: 0;
}

.list__element a {
	color: var(--color-grey);
	font-weight: 700;
	font-size: 0.6875rem;
	text-transform: uppercase;
	padding: 28px 18px 22px;
	border-bottom: 4px solid transparent;
	letter-spacing: 0.1875rem;
	text-decoration: none;
}

.list__element a:hover {
	border-bottom: 5px solid var(--color-primary);
	color: black;
}

/* section */
/* open */
.opening {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.opening__content {
	text-align: center;
}

.opening__title {
	margin-top: 8.125rem;
	font-size: 3.0625rem;
}

.opening__text {
	margin-top: 1.25rem;
	margin-bottom: 3.75rem;
	font-family: var(--font-secondary);
}
.opening__btn {
	border-radius: 2.5rem;
	background-color: var(--color-primary);
	padding: 1.375rem 9.688rem;
	text-decoration: none;
	color: var(--color-white);
	font-family: var(--font-secondary);
}

.opening__content img {
	width: 100%;
	height: auto;
}

.statistics {
	/* position: relative; */
	top: -5rem;
	padding-top: 6.25rem;
	background-color: var(--color-white);
}

.statistics__title {
	text-align: center;
	font-size: 2.25rem;
}

.statistics__card-box {
	display: flex;
	max-width: 50rem;
	margin: 6.25rem auto 12.5rem;
	justify-content: space-between;
}

.box__card {
	max-width: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.card__circle {
	position: relative;
	width: 3.919rem;
	height: 3.919rem;
	border-radius: 50%;
}

.circle__img {
	position: absolute;
}

.box__card:nth-child(1) .card__circle {
	background-color: var(--color-redish);
}

.box__card:nth-child(1) .circle__img {
	top: 0.188rem;
	left: 47%;
}

.box__card:nth-child(2) .card__circle {
	background-color: var(--color-primary);
}

.box__card:nth-child(2) .circle__img {
	top: 0.875rem;
	left: 35%;
}

.box__card:nth-child(3) .card__circle {
	background-color: var(--color-greenish);
}

.box__card:nth-child(3) .circle__img {
	top: 0.375rem;
	left: 50%;
}

.box__card-number {
	font-size: 1.25rem;
	font-weight: 800;
	letter-spacing: 0.313rem;
}

.box__card-text {
	text-align: center;
	padding: 0 1rem;
	margin-top: 1.188rem;
}
