:root {
	--color-primary: #08a6e4;
	--color-primary-shadow: #08a8e329;
	--color-redish: #fb3b64;
	--color-redish-shadow: #fb3d6329;
	--color-greenish: #55dfb4;
	--color-greenish-shadow: #55e1b329;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-light-grey: #f7f7f7;
	--font-primary: 'Raleway', sans-serif;
	--font-secondary: 'Open Sans', sans-serif;
}

body {
	font-family: var(--font-primary);
}

a {
	text-decoration: none;
}

.container {
	max-width: 1352px;
	margin: 0 auto;
	padding: 15px;
}

/* header */

.header {
	height: 70px;
	box-shadow: 0px 3px 6px #00000029;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header__logo {
	font-size: 32px;
	font-weight: 300;
	color: var(--color-primary);
	text-decoration: none;
}

.nav__list {
	display: flex;
}

.list__element {
	padding: 0 26px;
}

.list__element:last-child {
	padding-right: 0;
}

.list__element a {
	color: #a5a5a5;
	font-weight: 700;
	font-size: 0.6875rem;
	text-transform: uppercase;
	padding: 28px 18px 23px;
	border-bottom: 4px solid transparent;
	letter-spacing: 0.1875rem;
}

.list__element a:hover {
	border-bottom: 4px solid var(--color-primary);
	color: var(--color-black);
}

/* main */
/* opening */
.opening {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.opening__content {
	text-align: center;
}

.opening__title {
	margin-top: 8.125rem;
	font-size: 3.0625rem;
}

.opening__text {
	margin-top: 1.25rem;
	margin-bottom: 3.75rem;
	font-family: var(--font-secondary);
}
.opening__btn {
	border-radius: 2.5rem;
	background-color: var(--color-primary);
	padding: 1.25rem 9.563rem;
	color: var(--color-white);
	font-family: var(--font-secondary);
	cursor: pointer;
	transition: 0.3s;
}

.opening__btn:hover {
	background-color: var(--color-white);
	color: var(--color-primary);
	border: 0.063rem solid var(--color-primary);
}

.opening__content img {
	width: 100%;
	height: auto;
}

/* statistics */

.statistics {
	padding-top: 6.25rem;
	background-color: var(--color-white);
}

.statistics__title {
	text-align: center;
	font-size: 2.25rem;
}

.statistics__card-box {
	display: flex;
	max-width: 50rem;
	margin: 6.25rem auto 7.6525rem;
	justify-content: space-between;
}

.box__card {
	max-width: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.card__circle {
	position: relative;
	width: 3.919rem;
	height: 3.919rem;
	border-radius: 50%;
}

.circle__img {
	position: absolute;
}

.box__card:nth-child(1) .card__circle {
	background-color: var(--color-redish);
}

.box__card:nth-child(1) .circle__img {
	top: 0.188rem;
	left: 47%;
}

.box__card:nth-child(2) .card__circle {
	background-color: var(--color-primary);
}

.box__card:nth-child(2) .circle__img {
	top: 0.875rem;
	left: 35%;
}

.box__card:nth-child(3) .card__circle {
	background-color: var(--color-greenish);
}

.box__card:nth-child(3) .circle__img {
	top: 0.375rem;
	left: 50%;
}

.box__card-number {
	font-size: 1.25rem;
	font-weight: 800;
	letter-spacing: 0.313rem;
	padding-left: 0.3125rem;
	margin-top: 0.875rem;
}

.box__card-text {
	text-align: center;
	padding: 0 1rem;
	margin-top: 1.188rem;
}

/* benefits */

.benefits {
	padding: 6.25rem 0;
	background-color: #f7f7f7;
}

.benefits__content {
	padding: 0 6.875rem;
}

.benefit__box {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: var(--color-white);
	border: 1px solid #e8e9ed;
	border-radius: 0.3125rem;
	margin-bottom: 2.3125rem;
}

.benefit__text {
	margin: 5.625rem 2.1875rem;
	max-width: 25.9375rem;
}

.benefit__text::after {
	content: '';
	display: block;
	width: 20.5rem;
	height: 0.25rem;
	margin-top: 3.125rem;
	background-color: var(--accent-color);
}

.benefit__title {
	font-size: 2.25rem;
	margin-right: 3.125rem;
}

.benefit__description {
	font-family: var(--font-secondary);
	margin-top: 1.875rem;
	margin-right: 1.25rem;
}

.benefit__image {
	position: relative;
}

.benefit__image img {
	position: relative;
}

.benefit__macbook {
	--accent-color: var(--color-redish);
}

.benefit__macbook .benefit__image {
	bottom: 2.375rem;
	right: 7.313rem;
}

.benefit__macbook .benefit__image::before {
	content: '';
	position: absolute;
	top: -2.5rem;
	right: 0;
	width: 11.25rem;
	height: 11.25rem;
	display: block;
	background-color: var(--accent-color);
	border-radius: 2.5rem;
	transform: rotate(45deg);
}

.benefit__macbook .benefit__image img {
	width: 24.125rem;
	height: auto;
}

.benefit__iphone {
	--accent-color: var(--color-primary);
	flex-direction: row-reverse;
}

.benefit__iphone .benefit__image {
	left: 4.375rem;
	bottom: 0.813rem;
}

.benefit__iphone .benefit__image::before {
	content: '';
	position: absolute;
	top: -1.5rem;
	left: 0;
	width: 20rem;
	height: 20rem;
	display: block;
	background-color: var(--accent-color);
	border-radius: 50%;
}

.benefit__iphone .benefit__image {
	width: 26.625rem;
	height: auto;
}

.double__box {
	display: flex;
}

.double__box div {
	margin-bottom: 0;
}

.benefit__trumpet {
	max-width: 38.938rem;
}

.benefit__trumpet .benefit__text {
	max-width: none;
	margin: 4.375rem 2.188rem;
}

.double__box .benefit__image {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: var(--color-greenish);
	margin-left: 3.75rem;
}

.double__box .benefit__image img {
	width: 18.438rem;
	height: auto;
	margin-top: 3.438rem;
}

/* pricing */

.pricing {
	padding: 6.25rem 0;
}

.pricing__content {
	text-align: center;
}

.pricing__content h2 {
	font-size: 2.25rem;
	margin-bottom: 4.438rem;
}

.pricing__boxes {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.875rem;
}

.pricing__box {
	width: 33.33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1.125rem;
	border: 1px solid var(--accent-color);
	margin: 0 1.875rem;
	transition: 0.3s;
}

.pricing__box:hover{
	transform: scale(1.05);
	box-shadow: 5px 10px 27px var(--accent-shadow);
}

.pricing__box:hover .pricing__button {
	box-shadow: 5px 10px 27px var(--accent-shadow);
}

.pricing__box:first-child {
	margin-left: 0;
}

.pricing__box:last-child {
	margin-right: 0;
}

.pricing__detail {
	margin: 2.125rem 0 3.75rem;
}

.pricing__type {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 1.563rem;
}

.pricing__price {
	font-size: 2.875rem;
	font-weight: 300;
	color: var(--accent-color);
	font-family: var(--font-secondary);
}

.pricing__limited,
.pricing__limited-pusty {
	font-size: 0.75rem;
	font-weight: bold;
	margin-top: 0.938rem;
}

.pricing__limited-pusty {
	color: transparent;
}

.pricing__item {
	margin-bottom: 1.25rem;
	font-size: 0.875rem;
	font-family: var(--font-secondary);
}

.pricing__item::before {
	content: '';
	width: 0.688rem;
	height: 0.688rem;
	display: inline-block;
	background-image: url('../assets/Checkmark-1.svg');
	margin-right: 0.625rem;
}

.pricing__item-not::before {
	background-image: url('../assets/Close.svg');
}

.pricing__button {
	position: relative;
	top: 1.563rem;
	border-radius: 1.438rem;
	background-color: var(--accent-color);
	padding: 1rem 3.563rem;
	color: var(--color-white);
	font-size: 0.813rem;
	font-weight: bold;
	font-family: var(--font-secondary);
	border: 1px solid transparent;
	transition: .3s;
}

.pricing__button:hover {
	background-color: var(--color-white);
	border: 1px solid var(--accent-color);
	color: var(--accent-color);
}

/* basic box */
.pricing__box-basic {
	--accent-color: var(--color-redish);
	--accent-shadow: var(--color-redish-shadow);
}

/* professional box */
.pricing__box-professional {
	--accent-color: var(--color-primary);
	--accent-shadow: var(--color-primary-shadow);
}

/* premium box */
.pricing__box-premium {
	--accent-color: var(--color-greenish);
	--accent-shadow: var(--color-greenish-shadow);
}

/* contact */
.contact {
	padding: 80px 200px 100px;
	display: flex;
	justify-content: center;
}

.contact__column {
	width: 50%;
}

.contact__title {
	font-size: 3.063rem;
	line-height: 3.563rem;
	margin-bottom: 1.375rem;
}

.contact__information {
	font-family: var(--font-secondary);
	margin-bottom: 2.625rem;
	line-height: 1.375rem;
}

.contact__details {
	display: flex;
	justify-content: start;
}

.detail__item {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	color: #a5a5a5;
	font-family: var(--font-secondary);
}

.detail__item:first-of-type {
	margin-right: 20px;
}

.detail__item img {
	margin-right: 10px;
}

/* form */
.contact__form {
	display: flex;
	flex-direction: column;
}

.form__field {
	display: flex;
	flex-direction: column;
}

.form__field:first-of-type {
	margin-bottom: 42px;
}

.form__label {
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 15px;
	color: var(--color-primary);
}

.form__input {
	border: 1px solid transparent;
	border-bottom: 1px solid #95989a;
	line-height: 42px;
	font-size: 18px;
	background-color: transparent;
	padding-left: 10px;
}

.form__input:focus {
	outline: none;
	border-bottom: 1px solid transparent;
	box-shadow: 0 10px 20px -10px #00000029;
}

.form__input:focus ~ .form__label {
	transform: scale(1.3) translateX(11%);
	
}

.form__consent {
	margin-top: 30px;
}

.form__checkbox {
	display: block;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	margin-bottom: 20px;
}

.form__checkbox input {
	position: absolute;
	cursor: pointer;
	display: none;
}

.form__checkbox .checkbox {
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 4px;
	border: 1px solid #95989a;
	top: 0;
	left: 0;
}

.form__checkbox input:checked ~ .checkbox {
	background-image: url('../assets/Checkmark.svg');
	background-position: center;
	background-repeat: no-repeat;
}

.form__checkbox p {
	font-size: 12px;
	color: #707070;
	line-height: 17px;
	margin: 0 10px;
}

.form__button {
	align-self: flex-end;
	padding: 20px 95px;
	border: 1px solid transparent;
	border-radius: 35px;
	background-color: var(--color-primary);
	color: var(--color-white);
	font-weight: bold;
	font-size: 13px;
	font-family: var(--font-secondary);
	cursor: pointer;
	transition: .3s;
}

.form__button:hover {
border: 1px solid var(--color-primary);
background-color: var(--color-white);
color: var(--color-primary);
box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

/* footer */
.footer{
	box-shadow: 0 -5px 40px #00000029;
	background-color: #F7F7F7;
	padding: 20px 0 10px;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.footer__logo {
	font-size: 26px;
	font-weight: 300;
	color: var(--color-primary);
	margin-bottom: 7px;
}

.footer__copy {
	font-size: 11px;
	color: #A5A5A5;
	font-family: var(--font-secondary);
}

.footer__icons {
	display: flex;
	gap: 20px;
}

