:root {
	--color-primary: #08a6e4;
	--color-primary-shadow: #08a8e329;
	--color-redish: #fb3b64;
	--color-redish-shadow: #fb3d6329;
	--color-greenish: #55dfb4;
	--color-greenish-shadow: #55e1b329;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-light-grey: #f7f7f7;
	--font-primary: 'Raleway', sans-serif;
	--font-secondary: 'Open Sans', sans-serif;
}

.container {
	max-width: 1352px;
	margin: 0 auto;
}

body {
	font-family: var(--font-primary);
}

/* header */

.header {
	width: 100%;
	height: 70px;
	line-height: 70px;
	box-shadow: 0px 3px 6px #00000029;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: flex;
	align-items: center;
	width: 60%;
	font-size: 32px;
	font-weight: 300;
	color: var(--color-primary);
}

.nav {
	display: flex;
	width: 40%;
	justify-content: center;
	align-items: center;
}

.nav__list {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.list__element {
	height: 70px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3.28px;
	font-size: 11px;
}

.list__element a {
	text-decoration: none;
	padding: 25px 10px;
	color: #a5a5a5;
}

.list__element:hover {
	border-bottom: 5px solid var(--color-primary);
}

.list__element:hover a {
	color: var(--color-);
}

/* section */
/* open */

.open {
	text-align: center;
	width: 100%;
	padding-top: 130px;
	background-position: bottom;
}

.open__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.open__title {
	font-size: 49px;
	color: var(--color-black);
}

.open__text {
	margin-top: 20px;
	font-size: 16px;
	font-family: var(--font-secondary);
	color: var(--color-black);
}

.open__btn {
	display: inline-block;
	background-color: var(--color-primary);
	border-radius: 40px;
	box-shadow: 5px 10px 14px var(--color-primary-shadow);
	padding: 22px 157px;
	text-decoration: none;
	color: var(--color-white);
	font-size: 16px;
	font-weight: bold;
	font-family: var(--font-secondary);
	margin-top: 38px;
	border: 1px solid transparent;
}

.open__btn:hover {
	background-color: var(--color-white);
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
}

.open__img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70vh;
	background-image: url('../assets/Background.png');
	background-size: cover;
	background-position: bottom;
}

.statistics {
	position: relative;
	top: -100px;
	background-color: var(--color-white);
	padding: 100px 0;
	text-align: center;
}

.statistics__title {
	font-size: 36px;
	margin-bottom: 101px;
}

.statistics__card-box {
	display: flex;
	justify-content: center;
	align-items: start;
	padding: 0 150px;
}

.box__card {
	position: relative;
	display: flex;
	width: 33%;
    padding: 0 100px;
	flex-direction: column;
	align-items: center;
}

.card__circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 63px;
	height: 63px;
	border-radius: 50%;
}

.circle__img {
	position: absolute;
	left: 50%;
}

.card__circle--red {
	background-color: var(--color-redish);
}
.card__circle--blue {
	background-color: var(--color-primary);
    
}
.card__circle--green {
	background-color: var(--color-greenish);
}

.box__card-number {
	font-size: 20px;
	font-weight: 800;
    letter-spacing: 5.96px;
    margin: 0 auto;
}

.box__card-text {
    font-size: 17px;
    color: #A5A5A5;
    margin-top: 19px;
    padding: 0 10px;
}
