.benefit {
	padding: 6.25rem 0;
	background-color: #f7f7f7;
	
	&__content {
		padding: 0 6.875rem;
	}
	
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		background-color: $color-white;
		border: 1px solid #e8e9ed;
		border-radius: 0.3125rem;
		margin-bottom: 2.3125rem;
		
		&--macbook {
			--accent-color: #{$color-redish};
			
			.benefit__image {
				bottom: 2.375rem;
				right: 7.313rem;

				&::before {
					content: '';
					position: absolute;
					top: -2.5rem;
					right: 0;
					width: 11.25rem;
					height: 11.25rem;
					display: block;
					background-color: var(--accent-color);
					border-radius: 2.5rem;
					transform: rotate(45deg);
				}
			}			
		}

		&--iphone {
			--accent-color: #{$color-primary};
			flex-direction: row-reverse;

			.benefit__image {
				width: 26.625rem;
				height: auto;
				left: 4.375rem;
				bottom: 0.813rem;

				&::before {
					content: '';
					position: absolute;
					top: -1.5rem;
					left: 0;
					width: 20rem;
					height: 20rem;
					display: block;
					background-color: var(--accent-color);
					border-radius: 50%;
				}
			}			
		}

	}

	&__double {
		display: flex;
		
		div {
			margin-bottom: 0;
		}

		.benefit__box--trumpet {
			--accent-color: #{$color-greenish};
			max-width: 38.938rem;			
			
			.benefit__text {
				max-width: none;
				margin: 4.375rem 2.188rem;
			}			
		}			
		.benefit__image {
			display: flex;
			flex-grow: 1;
			justify-content: center;
			align-items: center;
			border: none;
			border-radius: 0.3125rem;
			background-color: $color-greenish;
			margin-left: 3.75rem;
			
			img {
				width: 18.438rem;
				height: auto;
				margin-top: 3.438rem;
			}
		}
	}
	
	&__text {
		margin: 5.625rem 2.1875rem;
		max-width: 25.9375rem;
		
		&::after {
			content: '';
			display: block;
			width: 20.5rem;
			height: 0.25rem;
			margin-top: 3.125rem;
			background-color: var(--accent-color);
		}
	}
	
	&__title {
		font-size: 2.25rem;
		margin-right: 3.125rem;
	}
	
	&__description {
		font-family: $font-secondary;
		margin-top: 1.875rem;
		margin-right: 1.25rem;
	}
	
	&__image {
		position: relative;
		
		img {
			position: relative;
		}
	}	
}





