.contact {
	padding: 80px 200px 100px;
	display: flex;
	justify-content: center;
	
	&__column {
		width: 50%;
	}
	
	&__title {
		font-size: 3.063rem;
		line-height: 3.563rem;
		margin-bottom: 1.375rem;
	}
	
	&__information {
		font-family: $font-secondary;
		margin-bottom: 2.625rem;
		line-height: 1.375rem;
	}
	
	&__details {
		display: flex;
		justify-content: start;
		
		&--item {
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 600;
			color: #a5a5a5;
			font-family: $font-secondary;
			
			&:first-of-type {
				margin-right: 20px;
			}
			
			img {
				margin-right: 10px;
			}
		}
	}
	
}



