.opening {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	&__content {
		text-align: center;	
		
		img {
			width: 100%;
			height: auto;
		}
	}
	
	&__title {
		margin-top: 8.125rem;
		font-size: 3.0625rem;
	}
	
	
	&__text {
		margin-top: 1.25rem;
		margin-bottom: 3.75rem;
		font-family: $font-secondary;
	}

	&__btn {
		border-radius: 2.5rem;
		background-color: $color-primary;
		padding: 1.25rem 9.563rem;
		color: $color-white;
		font-family: $font-secondary;
		cursor: pointer;
		transition: 0.3s;
		
		&:hover {
			background-color: $color-white;
			color: $color-primary;
			border: 0.063rem solid $color-primary;
		}
	}
}

